*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2{
    margin-bottom: 0.5rem;
}

.c-h{
    background-color: blue;
    height: 5vh;
    border: 1px solid white;
    color: white;
}

.row-nested{
    max-width: 80%;
   
}

.nested{
    background-color: lime;
    border: 1px solid white;
}
   
   



.mt{
    margin-top: 1rem;
}

.ml{
    margin-left: calc(100% / 12 * 11);

}



.p-xy{
    padding: 0.5rem;
}


    
    